.header_region{
    width:100%;
}
.menubar_region{
    width:100%;
}
.pre_content_region{
    width:100%;
}
.content_region{
    width:100%;
}
.post_content_region{
    width:100%;
}
.footer_first_region{
    width:100%;
}
.footer_second_region{
    width:100%;
}