@media (max-width: 767px) {
  .featured-bg {
    padding: 25% 1%;
    background-repeat: no-repeat;
    align-content: center;
    background-size: cover;
    background-position: right center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .adv-para-wrap {
    width: 260px;
    text-align: center; }
  .adv-para-wrap h4 a {
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s; }
  .adv-para-wrap h4 a:hover {
    color: #bf3654; }
  .adv-para-wrap p {
    font-weight: 400;
    color: #808080;
    /* line-height: 1.2; */
    font-size: 16px;
    /* max-width: 260px; */
    line-height: 30px; }
  .safe-secure {
    /* margin-top: 3%; */
    width: 260px; }
  .mobile-app {
    margin-top: 10px; }
  .wallet {
    margin-top: 10px; }
  /* right */
  .experts-support {
    margin-top: 10px; }
  .instant-exchange {
    margin-top: 10px; }
  .recuring-buys {
    margin-top: 10px; }
  /* ICON */
  .svg-inline--fa {
    font-size: 30px;
    color: #718975;
    -webkit-font-smoothing: antialiased; }
  .svg-inline--fa:hover {
    transform: scale(3); } }

@media (min-width: 768px) {
  .featured-bg {
    padding: 25% 1%;
    background-repeat: no-repeat;
    align-content: center;
    background-size: cover;
    background-position: left center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between; }
  .adv-para-wrap {
    width: 260px;
    text-align: center; }
  .adv-para-wrap h4 a {
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s; }
  .adv-para-wrap h4 a:hover {
    color: #bf3654; }
  .adv-para-wrap p {
    font-weight: 400;
    color: #808080;
    /* line-height: 1.2; */
    font-size: 16px;
    /* max-width: 260px; */
    line-height: 30px; }
  .safe-secure {
    /* margin-top: 3%; */
    width: 260px; }
  .mobile-app {
    margin-top: 10px; }
  .wallet {
    margin-top: 10px; }
  /* right */
  .experts-support {
    margin-top: 10px; }
  .instant-exchange {
    margin-top: 10px; }
  .recuring-buys {
    margin-top: 10px; }
  /* ICON */
  .svg-inline--fa {
    font-size: 30px;
    color: #718975;
    -webkit-font-smoothing: antialiased; }
  .svg-inline--fa:hover {
    transform: scale(3); } }

@media (min-width: 1025px) {
  .featured-bg {
    padding: 14% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; }
  .adv-para-wrap {
    width: 260px;
    text-align: center; }
  .adv-para-wrap h4 a {
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s; }
  .adv-para-wrap h4 a:hover {
    color: #bf3654; }
  .adv-para-wrap p {
    font-weight: 400;
    color: #808080;
    /* line-height: 1.2; */
    font-size: 16px;
    /* max-width: 260px; */
    line-height: 30px; }
  .safe-secure {
    /* margin-top: 3%; */
    margin-left: 10%;
    width: 33.33333333%; }
  .mobile-app {
    margin-top: 5%;
    margin-left: 5%;
    width: 25%; }
  .wallet {
    margin-top: 5%;
    margin-left: 8%;
    width: 33.33333333%; }
  /* right */
  .experts-support {
    position: absolute;
    right: 0px;
    top: 9%;
    margin-top: 10%;
    margin-left: 15%;
    width: 33.33333333%; }
  .instant-exchange {
    top: 40%;
    position: absolute;
    right: 0px;
    margin-top: 2.5%;
    margin-right: 3%;
    width: 25%; }
  .recuring-buys {
    top: 58%;
    position: absolute;
    right: 0px;
    margin-top: 3%;
    left: 70%;
    width: 33.33333333%; }
  /* ICON */
  .svg-inline--fa {
    font-size: 30px;
    color: #718975;
    -webkit-font-smoothing: antialiased; }
  .svg-inline--fa:hover {
    transform: scale(3); } }
