.header_region {
  width: 100%;
  border-bottom: 1px solid rebeccapurple; }

.region-header {
  display: flex;
  justify-content: space-evenly;
  margin-top: -14px; }

.contextual-region, .site-branding, .block, .block-system, .block-system-branding-block, .contextual, .logo {
  margin-bottom: 10px;
  margin-top: 15px; }

.container-fluid {
  background-color: white; }

.we-mega-menu-li {
  background-color: white; }

.navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu > a, .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu > span {
  background-color: white; }

.region-header input[type=search] {
  width: 120%;
  background-color: white;
  border-radius: 47px;
  height: 37px;
  margin-top: 56px; }

.i, .better_search {
  margin-top: 59px;
  position: initial; }

.form, .icon {
  margin-left: 192px; }

.fa-facebook-square:before {
  content: "\f082";
  color: #507cbe;
  border-radius: 100px;
  border: 2px solid rgba(0, 0, 0, 0.1); }

.fa-facebook-square:hover {
  background-color: #507cbe;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.fa-twitter-square:before {
  content: "\f081";
  color: #00abef;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.fa-google-plus-square:before {
  content: "\f0d4";
  color: #d93e2d;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.fa-linkedin-square:before {
  content: "\f08c";
  color: #3371b7;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.fa-youtube-square:before {
  content: "\f166";
  color: #d12121;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.contacts.social {
  margin-top: 60px;
  font-size: 34px; }

.we-mega-menu-ul,
.nav,
.nav-tabs {
  justify-content: center; }

.pre_content_region,
.content_region, .post_content_region, .footer_first_region, .footer_second_region {
  width: 100%; }
