/* DESKTOP */
@media screen and (min-width: 1024px) {
  .header_region {
    width: 100%;
    border-bottom: 1px solid grey; }
  .region-header {
    display: flex;
    justify-content: space-evenly; }
  .contextual-region, .site-branding, .block, .block-system, .block-system-branding-block, .contextual, .logo {
    margin-bottom: 10px;
    margin-top: 15px; }
  .container-fluid {
    background-color: white; }
  .we-mega-menu-li {
    background-color: white; }
  .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu > a, .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu > span {
    background-color: white; }
  .we-mega-menu-ul > .we-mega-menu-li > a {
    background-color: white; }
  .region-header input[type=search] {
    width: 120%;
    background-color: white;
    border-radius: 47px;
    height: 37px;
    margin-top: 56px; }
  .i, .better_search {
    margin-top: 59px;
    position: initial; }
  .form, .icon {
    margin-left: 192px; }
  .contacts, .social, .dark, .fa {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 11px 13px;
    margin-bottom: 4px;
    border-radius: 50%;
    margin-left: -10px; }
    .contacts::before, .social::before, .dark::before, .fa::before {
      font-size: 17px;
      line-height: 16px;
      border: 1px solid grey; }
  .fa-facebook-square:before {
    content: "\f082";
    color: #507cbe;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .fa-facebook-square:hover {
    background-color: #507cbe;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .fa-facebook-square:hover::before {
      color: white; }
  .fa-twitter-square:before {
    content: "\f081";
    color: #00abef;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .fa-twitter-square:hover {
    background-color: #00abef;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .fa-twitter-square:hover::before {
      color: white; }
  .fa-google-plus-square:before {
    content: "\f0d4";
    color: #d93e2d;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .fa-google-plus-square:hover {
    background-color: #d93e2d;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .fa-google-plus-square:hover::before {
      color: white; }
  .fa-linkedin-square:before {
    content: "\f08c";
    color: #3371b7;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .fa-linkedin-square:hover {
    background-color: #507cbe;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .fa-linkedin-square:hover::before {
      color: white; }
  .fa-youtube-square:before {
    content: "\f166";
    color: #d12121;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .fa-youtube-square:hover {
    background-color: #d12121;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .fa-youtube-square:hover::before {
      color: white; }
  .contacts.social {
    margin-top: 40px;
    font-size: 34px;
    border: none; }
  .we-mega-menu-ul,
  .nav,
  .nav-tabs {
    justify-content: center; }
  .we-mega-menu-ul > .we-mega-menu-li > a:hover {
    color: #dfcaa1; }
  .nav-tabs:hover {
    color: #3371b7; }
  .pre_content_region,
  .content_region, .post_content_region, .footer_first_region, .footer_second_region {
    width: 100%; } }

.region-header {
  display: flex;
  justify-content: space-evenly; }

.contextual-region, .site-branding, .block, .block-system, .block-system-branding-block, .contextual, .logo {
  margin-bottom: 10px;
  margin-top: 15px; }

.region-header input[type=search] {
  width: 120%;
  background-color: white;
  border-radius: 47px;
  height: 37px;
  margin-top: 29px; }

.i, .better_search {
  margin-top: 10px; }

.fa-facebook-square:before {
  content:   "";
  color:   #507cbe;
  border-radius: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.we-mega-menu-ul,
.nav,
.nav-tabs {
  justify-content: center; }

.pre_content_region,
.content_region, .post_content_region, .footer_first_region, .footer_second_region {
  width: 100%; }
