@media screen  and(min-width: 800px){
  .main-wrapper{
    background-position: center center;
    background-repeat: no-repeat;
    height: 730px;
    background-size: cover;
  }
  .row{
    margin-top: 10%;
  }
  .header1{
    color:#bf3654;
    height: 10px;
    font-variant-caps: all-small-caps;
  }
  .header2{
    height: 60px;
  }

  .description{
    color: white;
    line-height: 20pt;
    height: 110px;
    font-size: 16px;


  }
  #converter-form{
    display: flex;
    flex-flow: wrap;
  }
  #converter-form input[type=text]{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 51px;
    resize: vertical;
    width: 200px;
    font-size: larger;
    font-variant-caps: all-small-caps;
    font-weight: 500;
    text-align: center;

  }

  #converter-form .form-type-select .form-select {
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
    width: 200px;
    font-size: larger;
    text-align: center;
    height: 49px;
    -webkit-appearance: none;
    -webkit-border-radius: 20px;
  }
  #converter-form input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #bf3654;
    width: 180px;
    color: white;
    height: 60px;
    font-size: large;
    margin-top: 40px;

  }

  #converter-form input[type=submit]:hover {
    background-color: #ffd13f;
  }
  #converter-form #select-1 #edit-first-value {
    margin-bottom: 10px;

  }
  #converter-form #select-2 #edit-second-value {

  }
  #converter-form .form-select{
    margin-left: 14px;
  }
}


@media screen and(max-width: 800px ){
  .main-wrapper{
    display: block;
    height: 576px;
  }
  .header1{
    color:#bf3654;
    height: 10px;
    font-variant-caps: all-small-caps;
  }

  .row{
    margin-top: 68px;

  }

  .description{
    margin-top: 20px;
    color: white;
  }
  #converter-form{
    display: flex;
    flex-flow: wrap;
    margin-top: 33px;
  }
  #converter-form input[type=text]{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 51px;
    resize: vertical;
    width: 180px;
    font-size: larger;
    font-variant-caps: all-small-caps;
    font-weight: 500;
    text-align: center;

  }

  #converter-form .form-type-select .form-select {
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
    width: 180px;
    font-size: larger;
    text-align: center;
    height: 49px;
    -webkit-appearance: none;
    -webkit-border-radius: 51px;
  }
  #converter-form input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #bf3654;
    width: 150px;
    color: white;
    height: 60px;
    font-size: large;
    margin-top: 40px;

  }

  #converter-form input[type=submit]:hover {
    background-color: #ffd13f;
  }
  #converter-form #select-1 #edit-first-value {
    margin-bottom: 10px;

  }
  #converter-form #select-2 #edit-second-value {

  }
  #converter-form .form-select{
    margin-left: 14px;
  }
}

