
  .main-wrapper{
    background-position: center center;
    background-repeat: no-repeat;
    height: 730px;
    background-size: cover;
  }
  .row{
    margin-top: 10%;
  }
  .header1{
    color:$button-color;
    height: 10px;
    font-variant-caps: all-small-caps;
  }
  .header2{
    height: 60px;
  }

  .description{
    color: $white;
    line-height: 20pt;
    height: 110px;
    font-size: 16px;


  }
  #converter-form{
    display: flex;
    flex-flow: wrap;
  }
  #converter-form > div{
    width: 50%;
  }
  #converter-form {
    input[type=text] {
      padding: 12px;
      border: 1px solid #ccc;
      height: 44px;
      border-radius: 51px;
      resize: vertical;
      max-width: 200px;
      width: 100%;
      font-size: larger;
      font-variant-caps: all-small-caps;
      font-weight: 500;
      text-align: center;

    }
  }

  #converter-form {
    .form-type-select {
      .form-select {
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
    max-width: 200px;
    width: 100%;
    font-size: larger;
    text-align: center;
    height: 44px;
    -webkit-appearance: none;
    -webkit-border-radius: 20px;
  }
    }
  }
  #converter-form {
    input[type=submit] {
      padding: 10px 22px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      background-color: $button-color;
      max-width: 180px;
      color: $white;
      height: 44px;
      font-size: large;
      margin-top: 15%;
      transition: background-color 0.3s;
    }
  }

  #converter-form{ input[type=submit]:hover {
    background-color: $button-color-onhover;
  }}
  #converter-form{
    #select-1{
      #edit-first-value {
    margin-bottom: 10px;

  }
    }
  }

  #converter-form{ .form-select{
    margin-left: 14px;
  }}

  @media screen and(max-width: $screen-tablet ) {
    #converter-form {
      .js-form-type-textfield,
      .js-form-type-select {
        width: 50%;
      }
    }
    .description {
      margin-top: 11%;
    }
    .form-wrapper {
      margin-top: 11%;
    }
    #converter-form {
      .form-type-select {
        .form-select {
          width: 93%;
        }
      }
    }
  }
