$screen-tablet: 768px;
$screen-mobile: 425px;
$screen-desktop: 1025px;
//color
$button-color: #bf3654;
$button-color-onhover:#fab915;
$white: #FFFFFF;
$orange: #f58770;
$contact-form-bg: #f6f7f9;
$black:#000000;

$news-border:#e5e5e5;
$black2:#333333;
$grey:#808080;

