
      <svg viewBox="0 0 130 130">
        <circle cx="65" cy="65" r="64" class="dashed" />
        <foreignObject x="15" y="15" height="100px" width="100px">
          <div>{{ content.field_icons[0] }}</div>
        </foreignObject>
      </svg>
    <h3>{{ content.field_title[0]['#context'].value}}</h3>
    <p>{{ content.field_description[0]['#context'].value}}</p>

